/* body{
  min-height: 100vh;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;

} */

.card-body {
  height: 200px;
}


.card-body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: black; /* or add it to the track */
}

@media (max-width: 2000px) {
  .imganimal {
    height: 200px !important;
  }
}

@media (max-width: 750px) {
  .imganimal {
    height: 400px !important;
  }
}

@media (max-width: 450px) {
  .imganimal {
    height: 200px !important;
  }
}

.quebraPalavra{
  word-wrap: break-word;
}

.formparacontato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

main{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}